body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: navy !important;
  color: #172A3A !important;
}

code {
  font-family: 'Open Sans', sans-serif !important;
}
