.homeCont {
    background-color: navy;
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 100% !important;
    height: calc(100vh - 150px);
}

.home-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

h3 {
    color: white;
    position: absolute;
    top: 45%;
    font-family: 'Megrim', cursive;
    font-size: 60px !important;
    font-weight: bolder !important;
}

.dropdown {
    text-align: center;
}