.post-wrapper {
    margin: 5rem;
    width: 25rem;
    background-color: white;
  }

  .post-icon {
    width: 4rem;
    height: 4rem;
    padding: 3rem, 3rem;
  }

  .username {
    text-transform: uppercase;
  }
  
  .center-icons {
    text-align: center;
  }