.jumbotron {
  font-family: 'Megrim', cursive;
  color:#eee;
  background-color: navy !important;
  margin-bottom: 0px !important;
  padding: 15px 0px 0px 0px !important;
  text-align: center;
  height: 100px;
}

.jumbotron h1 {
  font-size: 6em;
}

@media screen and (max-width: 415px) {
  .jumbotron h1 {
    font-size: 4em;
  }
}