.navFont {
    font-family: 'Megrim', cursive;
    color: white !important;
    font-weight: bold;
    font-size: 20px !important;
}

.navbar {
    background-color: navy;
    height: 60px;
}

.jumbo {
    background-color: navy !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
    text-align: center;
    height: 100px;
}

h1 {
    font-size: 75px !important;
    font-weight: bolder !important;
    color: white !important;
    font-family: 'Megrim', cursive;
}