.top-nav {
    color: #eee;
    font-family: 'Megrim', cursive;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: #eee !important;
    font-size: 1.5em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #c8c8c8 !important;
}

.navbar button {
    background-color: #777;
}